@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body,
html {
  background-color: #f8f9f9;
  height: 100%;
}

h3,
h4 {
  font-family: "Merriweather", serif;
}

.header {
  padding-top: 50px;
  padding-bottom: 50px;
}

