.counter-wrapper {
    user-select: none;
  }
  
  .items {
    font-family: "Merriweather", serif;
    background: #f2ede7;
    border-radius: 8px;
    width: 120px;
    display: flex;
    font-size: 18px;
    height: 30px;
    overflow: hidden;
  }
  
  .items__control {
    width: 40px;
    cursor: pointer;
    transition: 0.2s ease-in;
    text-align: center;
  }
  
  .items__control:hover {
    background: #eb5a1e;
    color: #fff;
  }
  
  .items__current {
    width: 40px;
  }