.product-img {
    width: 265px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .item-title {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Merriweather", serif;
    height: 70px;
  }
  
  .details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  