.free {
  font-size: 18px;
  font-weight: 500;
  color: #0ea107;
}

.total-price {
  color: #eb5a1e;
  font-size: 18px;
  font-weight: 500;
}

.rouble {
  color: #eb5a1e;
  font-size: 18px;
  font-weight: 500;
}
